<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phillmonteiro.com.br.carrinhodemercado">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".secao.SecaoFeira"></activity>
        <activity android:name=".secao.SecaoFrutas"></activity>
        <activity android:name=".secao.SecaoLegumes"></activity>
        <activity android:name=".secao.SecaoLimpeza"></activity>
        <activity android:name=".secao.SecaoPerfumaria"></activity>
        <activity android:name=".secao.SecaoBebidas"></activity>
        <activity android:name=".secao.SecaoCarnes"></activity>
        <activity android:name=".secao.SecaoVerduras"></activity>
        <activity android:name=".secao.SecaoCereais"></activity>
        <activity android:name=".produto.IncluirProduto"></activity>
    </application>

</manifest>